Options -Indexes
RewriteEngine On
RewriteBase /urbano/onegantt/

SetEnv ROOT_PATH /home1/erickedu/Controladores-Apotema/onegantt/

# No redirigir archivos o carpetas que existen físicamente (CSS, JS, imágenes)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
